1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/CopilotIndices/17.14.1091.29919/CodeChunks.db
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/FileContentIndex/cf564a6e-a79e-42f0-95a7-d468993c09f8.vsidx
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/v17/.suo
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/v17/DocumentLayout.json
1.6/Main/Source/Isekai Adventures/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
1.6/Main/Source/Isekai Adventures/obj/Debug/IsekaiAdventures.csproj.AssemblyReference.cache
1.6/Main/Source/Isekai Adventures/obj/Debug/IsekaiAdventures.csproj.CoreCompileInputs.cache
1.6/Main/Source/Isekai Adventures/obj/Debug/IsekaiAdventures.csproj.FileListAbsolute.txt
1.6/Main/Source/Isekai Adventures/obj/Debug/IsekaiAdventures.csproj.AssemblyReference.cache
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/FileContentIndex/355ef578-3631-403e-8ffa-c252eb10f694.vsidx
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/v17/DocumentLayout.backup.json
1.6/Main/Source/Isekai Adventures/.vs/Isekai Adventures/FileContentIndex/d118f555-fc23-4f8f-8286-b62bf1b9c958.vsidx
1.6/Main/Source/Isekai Adventures/.vs/
1.6/Main/Source/Isekai Adventures/obj/

